<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lena - 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lena theme">
    <link rel="shortcut icon" href="./assets/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

<link href="css/main.89d50cb6ee50eddf8f9a.css" rel="stylesheet"></head>
<body class="lena-centered-body text-center">

<!-- Content -->
<form class="form-signin">
    <h1 class="h3 font-weight-normal text-primary lena-text-rem-6">4😵4</h1>
    <p class="text-color-light">The page you were looking for was not found. <a href="index.html">Click here</a> to go home or
        <a href="#">Contact Us</a> if you think this might be an error.</p>
</form>
<!-- End Content -->

<script type="text/javascript" src="main.js"></script></body>
</html>
