<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lena - Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lena theme">
    <link rel="shortcut icon" href="./assets/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
<link href="css/main.89d50cb6ee50eddf8f9a.css" rel="stylesheet"></head>
<body class="lena-centered-body text-center">
<!-- Logo -->
<img class="lena-brand-logo" src="assets/img/logo.png" width="50" alt="">
<!-- End of Logo -->
<!-- Content -->
<form class="form-signin">
    <h1 class="h3 font-weight-normal">Create an account</h1>
    <p class="text-color-light">Start now! It's free and it will be!</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><div class="lena-icon-block m-r-5"><img src="assets/img/logos/google.png" width="20" alt=""></div>Continue with Google</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><div class="lena-icon-block m-r-5"><img src="assets/img/logos/facebook.png" width="10" alt=""></div>Continue with Facebook</button>
    <hr>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="checkbox mb-3">
                <small>By clicking 'Create Account' you agree to our <a href="#">Terms of Use</a></small>
            </div>
        </div>
    </div>
</form>
<!-- End Content -->
<!-- Page bottom shape -->
<div class="lena-shape-bg">
    <img src="assets/img/bottom-shape-2.svg" />
</div>
<!-- End of Page bottom shape -->
<script type="text/javascript" src="main.js"></script></body>
</html>
